###Copy this file as `env` file and change it

#=======Build variables=======
CREXD_IMAGENAME_X86 =		nawa/cryptoexchange-dashboard
CREXD_IMAGENAME_ARMHF =		nawa/cryptoexchange-dashboard-armhf
CREXD_DOCKERFILE_X86 =		docker/x86/backend/Dockerfile
CREXD_DOCKERFILE_ARMHF =	docker/armhf/backend/Dockerfile

CREXD_FE_IMAGENAME_X86 =	nawa/cryptoexchange-dashboard-frontend
CREXD_FE_IMAGENAME_ARMHF =	nawa/cryptoexchange-dashboard-frontend-armhf
CREXD_FE_DOCKERFILE_X86 =	docker/x86/frontend/Dockerfile
CREXD_FE_DOCKERFILE_ARMHF =	docker/armhf/frontend/Dockerfile


#=======Run variables=======
###host variables
CREXD_RESTART_POLICY =		unless-stopped

CREXD_DCO_FILE_X86 =		docker/x86/docker-compose.yml
CREXD_DCO_FILE_ARMHF =		docker/armhf/docker-compose.yml

###change me
#frontent port, can be left as is, 80 means http://localhost/
CREXD_WEB_HTTP_PORT =		80
#db name, can be left as is
CREXD_MONGO_DBNAME =		crexd
#create these dirs on you local machine first
CREXD_MONGO_VOLUME_DB =		~/crexd/mongo/db
CREXD_MONGO_VOLUME_CONFIG =	~/crexd/mongo/configdb
#period of sync from exchanges
CREXD_SYNC_PERIOD =			10