###Copy this file as `env` file and change it

#=======Build variables=======
CRWI_IMAGENAME_X86=nawa/cryptoexchange-wallet-info
CRWI_IMAGENAME_ARMHF=nawa/cryptoexchange-wallet-info-armhf

CRWI_DOCKERFILE_X86=docker/x86/Dockerfile
CRWI_DOCKERFILE_ARMHF=docker/armhf/Dockerfile

CRWI_BUILDER_IMAGE=golang:1.9

#=======Run variables=======
###host variables
CRWI_WEB_HTTP_PORT=80
CRWI_WEB_LISTEN_PORT=8080
CRWI_RESTART_POLICY=unless-stopped

###change it for different container name
CRWI_SYNC_CONTAINER_NAME=cryptoexchange-wallet-info-sync

CRWI_DCO_FILE_X86=docker/x86/docker-compose.yml
CRWI_DCO_FILE_ARMHF=docker/armhf/docker-compose.yml

###change me
CRWI_MONGO_URL=mongodb://localhost:27017/cryptoexchange-wallet
CRWI_MONGO_VOLUME_DB=~/crwi/mongo/db
CRWI_MONGO_VOLUME_CONFIG=~/crwi/mongo/configdb
CRWI_SYNC_PERIOD=10

CRWI_WEB_PORTS=\
  -p $(CRWI_WEB_HTTP_PORT):$(CRWI_WEB_LISTEN_PORT)

CRWI_RESTART=--restart=$(CRWI_RESTART_POLICY)

CRWI_SYNC_ENVIRONMENT=\
  -e EXCHANGE_API_KEY=$(EXCHANGE_API_KEY) \
  -e EXCHANGE_API_SECRET=$(EXCHANGE_API_SECRET) \
  -e CRWI_ARGS="sync --period=$(CRWI_SYNC_PERIOD) --db-url=$(CRWI_MONGO_URL)"