###Copy this file as `env` file and change it

#=======Build variables=======
CREXD_IMAGENAME_X86=nawa/cryptoexchange-dashboard
CREXD_IMAGENAME_ARMHF=nawa/cryptoexchange-dashboard-armhf

CREXD_DOCKERFILE_X86=docker/x86/Dockerfile
CREXD_DOCKERFILE_ARMHF=docker/armhf/Dockerfile

CREXD_BUILDER_IMAGE=golang:1.10

#=======Run variables=======
###host variables
CREXD_WEB_HTTP_PORT=80
CREXD_WEB_LISTEN_PORT=8080
CREXD_RESTART_POLICY=unless-stopped

###change it for different container name
CREXD_SYNC_CONTAINER_NAME=cryptoexchange-dashboard-sync

CREXD_DCO_FILE_X86=docker/x86/docker-compose.yml
CREXD_DCO_FILE_ARMHF=docker/armhf/docker-compose.yml

###change me
CREXD_MONGO_DBNAME=crexd
CREXD_MONGO_URL=mongodb://mongo:27017/$(CREXD_MONGO_DBNAME)
CREXD_MONGO_VOLUME_DB=~/crexd/mongo/db
CREXD_MONGO_VOLUME_CONFIG=~/crexd/mongo/configdb
CREXD_SYNC_PERIOD=10

CREXD_WEB_PORTS=\
  -p $(CREXD_WEB_HTTP_PORT):$(CREXD_WEB_LISTEN_PORT)

CREXD_RESTART=--restart=$(CREXD_RESTART_POLICY)

CREXD_SYNC_ENVIRONMENT=\
  -e EXCHANGE_API_KEY=$(EXCHANGE_API_KEY) \
  -e EXCHANGE_API_SECRET=$(EXCHANGE_API_SECRET) \
  -e CREXD_ARGS="sync --period=$(CREXD_SYNC_PERIOD) --db-url=$(CREXD_MONGO_URL)"
